<div class="container text-center mt-5">
  <h1>Editando Tweet</h1>

  <%= render "form", tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Ver este tweet", @tweet, class:"btn btn-primary" %> |
    <%= link_to "Volver a tweets", tweets_path, class:"btn btn-primary" %>
  </div>
</div>